aiohttp
azure-core>=1.5.0
azure-datalake-store>=0.0.46,<0.1
azure-storage-blob>=12.5.0,<12.7.0
azure-identity
dask[dataframe]
docker>=4.1.0,<5.0.0
fsspec>=0.9
msrestazure
pyarrow
pytest>=5.0,<6.0
pytest-asyncio
pytest-cov
pytest-mock
requests>=2.22.0,<3.0
scipy>=0.9
versioneer>=0.18,<1.0
