aiohttp
azure-core
azure-datalake-store>=0.0.46,<0.1
azure-storage-blob
azure-identity
dask[dataframe]
docker
fsspec>=0.9
msrestazure
pyarrow
pytest
pytest-asyncio
pytest-cov
pytest-mock
requests>=2.22.0,<3.0
scipy>=0.9
versioneer>=0.18,<1.0
